body{
    background-image: url(img/background.webp);
}

.container{
    background-color: white;
    padding: 0 5px;
    margin: 0 auto;
    width: 960px;

    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: sticky;
        top: 0;
        background-color: white;
        width: 960px;

        .my-brand{
            display: flex;
            justify-content: space-between;

            h1{
                margin: 0;
                line-height: 40px;
            }

            .right-header{
                box-sizing: border-box;
                display: flex;
                align-items: last baseline;

                .nav{
                    width: 400px;
                    display: flex;
                    justify-content: space-between;
                    box-sizing: border-box;

                    margin-bottom: 10px;

                    .list-items{
                        transition: 0.3s linear;

                        a{
                            text-decoration: none;
                            color: red;
                        }
                    }

                    .list-items:hover{
                        transform: translateY(-2px);
                        border-radius: 2px;
                        box-shadow: 0px 2px 2px -1px gray;
                    }
                }

                .search-col{
                    display: flex;
                    align-items: center;

                    .btn-search{
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                    }

                    .search-input{

                    }
                }
            }
        }
    }

    .hero-img{
        border-top: 5px solid lightskyblue;
        border-bottom: 5px solid lightcoral;
        height: 300px;
        .img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        mask-image: linear-gradient(rgba(0,0,0,1)100%, rgba(0,0,0,0));
    }

    .content{
        padding: 5px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;

        .main-content{
            width: 630px;
            box-sizing: border-box;

            .judul-artikel{

            }

            p.info-artikel{
                text-indent: 0;
                margin-top: -20px;
                font-size: 14px;
                color: gray;

                a{
                    text-decoration: none;
                    color: red;
                }
            }

            p{
                font-size: 16px;
                line-height: 24px;
                text-align: justify;
                text-indent: 10px;
            }
        }

        .sidebar{
            padding: 0 5px;
            margin-top: 10px;
            width: 300px;
            box-sizing: border-box;

            .about-author{
                background-color:whitesmoke;
                padding: 0 5px;

                .pp{
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    float: left;
                    margin-right: 10px;
                    cursor: pointer;
                    overflow: hidden;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }

                .overlay{
                    display: none;
                    background-color: rgba($color: #000000, $alpha: .8);
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 9999;

                    .overlay-content{
                        box-sizing: border-box;
                        width: 350px;
                        margin: 40px auto 0;
                        position: relative;
                        animation: zoom 0.3s ease-out;

                        .close{
                            position: absolute;
                            text-decoration: none;
                            right: 0;
                            width: 20px;
                            height: 20px;
                            text-align: center;
                            line-height: 20px;
                            border-radius: 50%;
                        }

                        img{
                            cursor: default;
                        }
                    }
                }

                .overlay:target{
                    display: block;
                    right: 0;
                    bottom: 0;
                }

                p{
                    font-size: 14px;
                    text-align: justify;
                }
                
            }

            .similar-content{
                padding: 0 5px;

                h3{
                    margin-top: 0;
                }

                .img-similar-content{
                    width: 100%;
                    height: 100px;
                    object-fit: fill;
                    cursor: pointer;
                }

                a{
                    font-size: 15px;
                    text-decoration: none;
                    color: black;
                }

                a:hover{
                    color: blue;
                }
            }
        }
    }

    footer{
        font-size: 13px;
        text-align: center;
        font-weight: lighter;
        font-style: italic;
        color: gray;
    }
}

// animation :

@keyframes zoom{
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}