.container {
  background-color: white;
  padding: 0 5px;
  margin: 0 auto;
  width: 75%;
}
.container .nav {
  background-color: white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container .nav .navbar-items {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.container .nav .navbar-items h1 {
  margin: 0;
  padding: 0;
}
.container .nav .navbar-items li {
  margin: 0;
  padding: 0;
}
.container .nav .navbar-items li:first-child {
  margin-right: auto;
  cursor: pointer;
}
.container .nav .navbar-items li a {
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  color: black;
  margin: 0 2vw;
  overflow: hidden;
}
.container .nav .navbar-items li a::before, .container .nav .navbar-items li a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: salmon;
  display: block;
  transition: 0.5s linear;
}
.container .nav .navbar-items li a::before {
  transform: translateY(-5px);
}
.container .nav .navbar-items li a::after {
  transform: translateY(5px);
}
.container .nav .navbar-items li a:hover::before {
  transform: translateY(2px);
}
.container .nav .navbar-items li a:hover::after {
  transform: translateY(-2px);
}
.container .nav .navbar-items li .btn-search {
  background-image: url(../img/header/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 0;
}
.container .nav .navbar-items li .btn-menu {
  display: none;
}
.container .nav .side-navbar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;
  position: fixed;
  justify-content: flex-start;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: lightgray;
  z-index: 999;
  list-style: none;
  text-align: center;
  display: flex;
  transform: translateX(200px);
  transition: 0.3s linear;
}
.container .nav .side-navbar li {
  width: 100%;
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.2);
}
.container .nav .side-navbar li:first-child {
  text-align: left;
}
.container .nav .side-navbar a {
  width: 100%;
  text-decoration: none;
  color: black;
}
.container .hero-img {
  border-top: 5px solid lightskyblue;
  border-bottom: 5px solid lightcoral;
  height: 300px;
}
.container .hero-img .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .content {
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.container .content .main-content {
  width: 630px;
  box-sizing: border-box;
}
.container .content .main-content p.info-artikel {
  text-indent: 0;
  margin-top: -20px;
  font-size: 14px;
  color: gray;
}
.container .content .main-content p.info-artikel a {
  text-decoration: none;
  color: red;
}
.container .content .main-content p {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  text-indent: 10px;
}
.container .content .sidebar {
  padding: 0 5px;
  margin-top: 10px;
  width: 300px;
  box-sizing: border-box;
}
.container .content .sidebar .about-author {
  background-color: whitesmoke;
  padding: 0 5px;
}
.container .content .sidebar .about-author .pp {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  overflow: hidden;
}
.container .content .sidebar .about-author .pp img {
  width: 100%;
  height: 100%;
}
.container .content .sidebar .about-author .overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.container .content .sidebar .about-author .overlay .overlay-content {
  box-sizing: border-box;
  width: 350px;
  margin: 40px auto 0;
  position: relative;
  animation: zoom 0.3s ease-out;
}
.container .content .sidebar .about-author .overlay .overlay-content .close {
  position: absolute;
  text-decoration: none;
  right: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}
.container .content .sidebar .about-author .overlay .overlay-content img {
  cursor: default;
}
.container .content .sidebar .about-author .overlay:target {
  display: block;
  right: 0;
  bottom: 0;
}
.container .content .sidebar .about-author p {
  font-size: 14px;
  text-align: justify;
}
.container .content .sidebar .similar-content {
  padding: 0 5px;
}
.container .content .sidebar .similar-content h3 {
  margin-top: 0;
}
.container .content .sidebar .similar-content .img-similar-content {
  width: 100%;
  height: 100px;
  -o-object-fit: fill;
     object-fit: fill;
  cursor: pointer;
}
.container .content .sidebar .similar-content a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}
.container .content .sidebar .similar-content a:hover {
  color: blue;
}
.container footer {
  font-size: 13px;
  text-align: center;
  font-weight: lighter;
  font-style: italic;
  color: gray;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 800px) {
  .container .nav .navbar-items .hideOnMobile {
    display: none;
  }
  .container .nav .navbar-items li img.btn-menu {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */